.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.link img {
    margin-right: 8px;
}

.link span {
    cursor: pointer;
    color: #FFFFFF;
}

@media (max-width: 767px) {
    .link span {
        display: none;
    }
}
