.wrapper {
    padding-top: 24px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    max-width: 375px;
    width: auto;
    background: #FFFFFF;
    border: 1px solid rgba(63, 63, 68, 0.005);
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15);
    border-radius: 4px;
    word-break: break-word;
}

.container {
    margin-bottom: 15px;
}

.nameContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

.nameContainer img {
    border-radius: 13px;
    width: 140px;
    height: 140px;
    background-color: #3F51B5;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    border-top: 1px solid #E4E7EB;
}

.buttonContainer button:first-of-type {
    color: #1665D8;
    text-transform: uppercase;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    background-color: transparent;
    border: none;

    &:hover {
        opacity: 0.5;
    }

    &:focus-visible {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.3;
    }
}

.buttonContainer button:last-of-type {
    color: #425A70;
    text-transform: uppercase;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    background-color: transparent;
    border: none;

    &:hover {
        opacity: 0.5;
    }

    &:focus-visible {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.3;
    }
}

.name {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
} 

.place {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #9EA0A5;
}

.time {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #9EA0A5;
}

.blue {
    border: none;
    background-color: transparent;
    padding-top: 22px;
    padding-bottom: 22px;
    cursor: pointer;
    color: #1665D8;
    text-transform: uppercase;
}


@media (max-width: 767px) {
    .container {
        margin-right: 10px;
    }

    .nameContainer img {
        width: 120px;
        height: 120px;
    }
    
    .buttonContainer {
        flex-direction: column;
    }
    
    .name {
        font-size: 20px;
        line-height: 24px;
    } 
    
    .place {
        font-size: 12px;
        line-height: 18px;
    }
    
    .time {
        font-size: 12px;
        line-height: 18px;
    }

    .buttonContainer button:first-of-type {
        margin-bottom: 10px;
    }
}
