.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 28px;
    align-items: flex-start;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 23px;
    padding-bottom: 43px;
    background-color: #F9FAFB;
}

@media (max-width: 1023px) {
    .container {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 28px;
    }
}

@media (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }
}