.link {
    text-decoration: none;
    color: #66788A;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }

    &:focus-visible {
        outline: none;
        opacity: 0.5;
    }

    &:active {
        opacity: 0.3;
    }
}

@media (max-width: 767px) {

    .link {
        font-size: 10px;
        line-height: 12px;
    }

}