.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3F51B5;
    padding-left: 24px;
    padding-right: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
}
